<app-navbar
  ngSkipHydration
  [typeActivate]="scrollingState()"
  [openSideBar]="openSidebar"
></app-navbar>
<div class="overflow-auto" id="maini" #main style="overflow-x: hidden">
  <app-sidebar2 />
  <main
    class="w-full md:flex flex-col justify-center items-center bg-primary overflow-hidden"
  >
    <div class="z-[999] flex gap-2 fixed bottom-6">
      <button 
        (click)="angleTop()"
        title="top"
        class="bg-white rounded-full text-primary w-[48px] shadow shadow-md h-[48px] grid place-content-center"> 
        <img src="icons/angle-top.svg" class="w-[20px] h-[20px]" alt="">
      </button>
        <button title="down"
        (click)="angleDown()"
        class="bg-white rounded-full text-primary w-[48px] shadow shadow-md h-[48px] grid place-content-center">
        <img src="icons/angle-down.svg" class="w-[20px] h-[20px]" alt="">
      </button>
    </div>
    <div class="flex md:hidden h-svh flex-col items-center justify-center">
      <img
        src="images/logo_SEGUROPULUDO_blanco.png"
        alt="Imagen de peludos"
        (click)="openSidebar()"
      />
      <img src="images/Grupo37891.svg" alt="" />
      <div class="w-full flex flex-col gap-3 mt-12 items-center justify-center">
        <button
          class="block btn-yellow cursor-pointer"
          (click)="scrollTo(`compraseguro`)"
        >
          ¡COMPRA TU SEGURO!
        </button>
        <button
          class="block btn-bluedark cursor-pointer z-30"
          (click)="scrollTo(`planes`)"
        >
          ¡CONOCE MÁS!
        </button>
      </div>
    </div>
    <div class="h-screen hidden md:block">
      <div class="flex justify-center md:block items-center mt-32 flex-col">
        <div
          class="mt-[60vh] w-full h-[50vh] md:block hidden bg-secondary inset-0 z-0 absolute"
        ></div>
        <img
          (click)="openSidebar()"
          src="images/logo_SEGUROPULUDO_blanco.png"
          alt=""
          class="block md:absolute md:left-[257px] md:top-[204px] lg:left-[371px] lg:top-[179px] top-[123px] 2xl:left-[736px] xl:left-[513px] duration-500"
        />
        <img
          src="images/Grupo37891.svg"
          alt=""
          class="absolute lg:left-[429px] md:top-[446px] lg:top-[442px] md:left-[313px] 2xl:left-[786px] 2xl:top-[418px] xl:left-[571px] 2xl:w-[332px] duration-500"
        />
      </div>

      <img
        src="images/PERRO-GLOBOS.png"
        alt=""
        class="absolute left-[444px] 2xl:left-[444px] 2xl:top-[161px] lg:left-[128px] lg:top-[177px] md:left-[129px] top-[161px] hidden md:block duration-500"
      />

      <img
        src="images/nube.png"
        alt="nubecita jodoncita"
        class="hidden md:block md:absolute lg:-left-[17px] left-[165px] top-[322px] md:-left-[13px] 2xl:left-[155px] duration-500"
      />

      <img
        src="images/GATO-BLANCOv2-1.png"
        alt=""
        class="absolute z-50 2xl:left-[498px] 2xl:top-[428px] left-[498px] lg:left-[124px] lg:top-[419px] md:left-[114px] hidden md:block top-[428px] transition-transform duration-500 xl:left-[269px]"
      />

      <img
        src="images/nube.png"
        alt="Nube 2"
        class="hidden absolute md:block left-[1450px] top-[212px] scale-125 lg:left-[900px] xl:left-[1230px] 2xl:left-[1450px] 2xl:top-[212px] duration-500 md:left-[687px] md:top-[112px]"
      />

      <img
        src="images/kv_SEGUROPELUDO_Perro_Doberman@2x.png"
        alt=""
        class="absolute left-[1200px] md:left-[661px] hidden md:block top-[289px] lg:left-[833px] 2xl:left-[1200px] h-[344px] w-[188px] xl:left-[1052px] duration-500"
      />

      <img
        class="absolute md:block md:left-[95px] hidden lg:left-[255px] 2xl:left-[344px] top-[608px] duration-500"
        src="images/CACHORRO.png"
        alt="Dog sentadog"
      />

      <img
        src="images/GATO-CAFE Con sombra.png"
        class="md:absolute md:block hidden left-[1155px] md:left-[600px] lg:left-[696px] top-[709px] w-[213px] duration-500 xl:left-[923px] 2xl:left-[1299px]"
        alt=""
      />

      <div class="w-full flex flex-col gap-3 mt-12 items-center justify-center">
        <button
          class="block md:absolute btn-yellow top-[623px] transition-transform md:left-[331px] lg:left-[450px] 2xl:left-[800px] 2xl:top-[623px] cursor-pointer xl:left-[585px]"
          (click)="scrollTo(`compraseguro`)"
        >
          ¡COMPRA TU SEGURO!
        </button>
        <button
          class="block md:absolute btn-bluedark top-[680px] transition-transform md:left-[331px] lg:left-[450px] xl:left-[585px] 2xl:left-[800px]"
          (click)="scrollTo(`compraseguro`)"
        >
          ¡CONOCE MÁS!
        </button>
      </div>
    </div>
  </main>

  <!-- Vista dos  -->

  <div
    class="p-6 h-auto md:h-svh relative flex flex-col justify-center text-center"
    id="porque"
  >
    <div class="absolute hidden 2xl:block">
      <img
        src="images/Fondo punteado-1.png"
        alt="Fondo Punteado"
        class="relative hidden 2xl:block 2xl:left-[1718px] 2xl:top-[-405px] w-[914px] h-[887px] -translate-x-[171px] -z-10 cursor-move"
      />
    </div>

    <div class="absolute hidden 2xl:block">
      <img
        src="images/Fondo punteado-1.png"
        alt="Fondo Punteado2"
        class="relative 2xl:left-[-616px] top-[489px] -z-10 cursor-move"
      />
    </div>

    <h2
      class="text-primarytwo text-center text-[28px] font-bold mb-12 md:mb-14"
    >
      ¿Por qué Seguro Peludo?
    </h2>
    <!-- Imagenes aqui -->

    <img
      src="images/nube.png"
      alt="nube"
      class="absolute hidden 2xl::block left-[196px] top-[153px] w-[137px] h-[134px] -z-10"
    />

    <img
      src="images/nube.png"
      alt="nube"
      class="absolute hidden 2xl:block 2xl:left-[1464px] top-[393px] -z-10"
    />

    <img
      src="images/nube.png"
      alt="nube"
      class="absolute hidden 2xl:block 2xl:left-[252px] 2xl:top-[700px] w-[114px] h-[116px] -z-10"
    />

    <div class="flex justify-center items-center flex-col">
      <div
        class="grid grid-cols-1 w-[900px] sm:grid-cols-2 md:grid-cols-3 gap-3 md:gap-6 place-items-center place-content-center"
      >
        <!-- Círculo 1 -->
        <div
          class="h-fit md:h-[280px] flex justify-center items-center flex-col"
        >
          <div
            class="bg-primary rounded-full w-[208px] h-[208px] overflow-hidden flex justify-center items-center mb-4.5"
          >
            <img
              src="images/PERRO-CONOv2.png"
              style="
                width: 139px;
                height: 131px;
                position: relative;
                left: 0px;
                top: 18px;
              "
              class="w-40 h-40 object-cover scale-200"
              alt="Perro con cono"
            />
          </div>
          <p class="text-[20px] text-dark-blue w-[176px] h-[48px]">
            Atención veterinaria
          </p>
        </div>

        <!-- Círculo 2 -->
        <div
          class="h-fit md:h-[280px] flex justify-center items-center flex-col"
        >
          <div
            class="bg-yellowone rounded-full w-[208px] h-[208px] flex justify-center items-center overflow-hidden mb-4.5"
          >
            <img
              src="images/kv_SEGUROPELUDO_baño-burbujas.png"
              class="w-40 h-40 scale-150 object-contain"
              alt="Baño de burbujas"
              style="
                position: relative;
                left: 1px;
                top: 40px;
                width: 191px;
                height: 172px;
                transition: none;
                cursor: move;
              "
            />
            <p class="text-dark-blue text-[20px]"></p>
          </div>
          <p class="text-[20px] text-dark-blue w-[176px]">
            Servicios de guardería
          </p>
        </div>

        <!-- Círculo 3 -->
        <div
          class="h-fit md:h-[280px] flex justify-center items-center flex-col"
        >
          <div
            class="bg-primary rounded-full w-[208px] h-[208px] flex justify-center items-center overflow-hidden mb-4.5"
          >
            <img
              src="images/gato-caja-2.png"
              class="w-40 h-40 object-contain scale-150"
              alt="Gato en caja"
              style="
                width: 220px;
                height: 197px;
                position: relative;
                left: 12px;
                top: 50px;
                transition: none;
                cursor: move;
              "
            />
          </div>
          <p class="text-[20px] text-dark-blue w-[176px] h-[48px]">
            Servicios funerarios
          </p>
        </div>
      </div>
    </div>

    <div class="text-[#727b83] font-semibold text-sm">
      <p class="mt-9.5 mb-4">
        Estar preparado es la mejor forma de proteger la vida de quienes más
        amamos.
      </p>
      <p>
        Seguro Peludo te brinda cobertura en caso de que tu peludito necesite
        asistencia profesional por enfermedad o accidente.
      </p>
      <p>
        Además, incluye respaldo para responder ante terceros en caso de
        lesiones o daños materiales ocasionados por tu mascota.
      </p>
    </div>
    <div class="flex flex-col justify-center w-full items-center gap-4 mt-12">
      <button class="btn-yellow cursor-pointer" (click)="scrollTo(`planes`)">
        VEAMOS LOS PLANES
      </button>
      <button
        (click)="cobertAsPdf()"
        class="bg-primary w-[288px] h-[48px] rounded-full cursor-pointer flex justify-center-safe items-center gap-4 z-30 text-dark-blue"
      >
        VER EBOOK @if (isDownload) {
        <span class="svg-spinners--180-ring"></span>
        }
        <!-- <span class="svg-spinners--180-ring"></span> -->
      </button>
    </div>
  </div>

  <div
    class="min-h-svh bg-primary md:p-12 flex flex-col justify-center gap-4 items-center relative"
    id="planes"
  >
    <h3 class="text-center text-[28px] text-dark-blue font-bold">
      Nuestros planes
    </h3>
    <p class="text-center font-semibold text-dark-blue">
      Diseñamos pensando en la tranquilidad de tu peludo
    </p>
    <!-- TABLA AQUI -->

    <img
      src="images/GATO-BLANCOv2.png"
      alt=""
      class="duration-500 xl:left-[120px] lg:hidden xl:block 2xl:left-[340px] 2xl:top-[346px] absolute hidden md:hidden"
    />
    <img
      src="images/PERRO-GLOBOS.png"
      alt="Dog globos"
      class="absolute hidden md:hidden xl:block xl:left-[1151px] 2xl:left-[1408px] top-[341px] duration-500"
    />

    <div
      class="grid grid-cols-1 gap-0.5 p-2 rounded-md text-dark-blue font-bold text-sm xl:w-[944px] sticky top-[300px]"
    >
      <div
        class="grid top-24 grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] sticky rounded-t-md text-sm h-[48px]"
      >
        <div
          class="bg-[#e1e6e6] rounded-tl-md px-3 w-full h-full flex justify-start items-center text-md"
        >
          Beneficios
        </div>
        <div
          class="bg-[#8ddeee] w-full h-full flex justify-center items-center text-md"
        >
          Estándar
        </div>
        <div
          class="bg-[#fccc47] w-full h-full flex justify-center items-center text-md text-dark-blue rounded-tr-2xl"
        >
          Premium
        </div>
      </div>
      <div
        class="w-full bg-white p-2 ext-sm grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] grid h-[56px] place-content-center"
      >
        <div>Valor de tu seguro anual</div>
        <div class="w-full h-full justify-center items-center flex">
          $303.576
        </div>
        <div class="w-full h-full justify-center items-center flex">
          $473.085
        </div>
      </div>

      <div
        class="w-full bg-[#8ddeee] p-2 cursor-pointer flex justify-between items-center"
        (click)="openCoberturas2()"
      >
        <div
          class="h-[40px] flex items-center duration-700 transition-transform text-xs md:text-sm"
        >
          COBERTURAS
        </div>
        <div>
          <img
            src="icons/angle-down.svg"
            alt=""
            class="w-5 h-5 duration-700 transition-transform"
            [ngClass]="{
            `rotate-180` : openArrow() === true ,
            `` : openArrow() == false ,
          }"
          />
        </div>
      </div>

      <div
        id="coberturas"
        #bloque
        class="w-full bg-white overflow-hidden max-h-0 list-none flex-col flex transition-all duration-500 ease-in-out"
      >
        @for (cober of coberturas; track $index) {
        <li
          class="text-xs casilla grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] grid"
          [ngClass]="{
            `is-impar` : $index % 2 === 0,
            `not-impar` : $index % 2 !== 0,
          }"
        >
          <div class="flex justify-start items-center ml-4 text-xs md:text-sm">
            {{ cober.name }}
          </div>
          <div class="flex justify-center items-center">
            @if (cober.estandar === 1) {
            <img src="icons/badge.svg" alt="Badge" width="20" height="20" />
            }@else {
            {{ null }}
            }
          </div>
          <div class="flex justify-center items-center">
            @if (cober.premiun === 1) {
            <img src="icons/badge.svg" alt="Badge" width="20" height="20" />
            }@else {
            {{ null }}
            }
          </div>
        </li>
        }
      </div>

      <div
        class="w-full bg-[#8ddeee] p-2 text-xs md:text-sm h-[48px] flex justify-between"
        (click)="openCoberturas2()"
      >
        <div class="flex justify-center items-center">ASISTENCIAS</div>
        <div>
          <img
            src="icons/angle-down.svg"
            alt=""
            class="w-5 h-5 duration-700 transition-transform"
            [ngClass]="{
          `rotate-180` : openArrow() === true ,
          `` : openArrow() == false ,
        }"
          />
        </div>
      </div>
      <!-- Tabla de las asistencias -->
      <div
        #bloque
        class="w-full bg-white overflow-hidden max-h-0 list-none flex-col flex transition-all duration-500 ease-in-out"
      >
        @for (asistencia of asistencias; track $index) {
        <li
          class="casilla grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] grid is-impar"
          [ngClass]="{
            `is-impar` : $index % 2 === 0,
            `not-impar` : $index % 2 !== 0,
          }"
        >
          <div class="flex justify-start items-center ml-4 text-xs md:text-sm">
            {{ asistencia.name }}
          </div>
          <div class="flex justify-center items-center">
            @if(asistencia.estandar === 1){
            <img src="icons/badge.svg" width="20" height="20px" alt="" />
            }@else {
            {{ null }}
            }
          </div>
          <div class="flex justify-center items-center">
            @if(asistencia.premiun === 1){
            <img src="icons/badge.svg" width="20" height="20px" alt="" />
            }@else {
            {{ null }}
            }
          </div>
        </li>
        }
      </div>

      <!-- Fin de la tabla asistencia -->

      <div
        class="w-full bg-[#8ddeee] p-2 text-xs md:text-sm h-[48px] rounded-b-md flex-row flex justify-between"
        (click)="openCoberturas2()"
      >
        <div class="flex items-center">ASISTENCIAS OPCIONALES</div>
        <div>
          <img
            src="icons/angle-down.svg"
            [ngClass]="{
            `rotate-180` : openArrow() === true ,
            `` : openArrow() == false ,
          }"
            alt="Badge icon"
            class="w-5 transition-transform duration-700 h-5"
          />
        </div>
      </div>

      <!-- Tabla de las asistencias personales -->
      <div
        #bloque
        id="asistencias_personales"
        class="w-full bg-white overflow-hidden max-h-0 list-none flex-col flex transition-all duration-500 ease-in-out"
      >
        @for (asistencias_personale of asistenciasPersonales; track $index) {
        <li
          class="casilla grid-cols-3 h-fit sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] grid is-impar"
          [ngClass]="{
          `is-impar` : $index % 2 === 0,
          `not-impar` : $index % 2 !== 0,
        }"
        >
          <div class="flex justify-start items-center ml-4 text-xs md:text-sm">
            {{ asistencias_personale.name }}
          </div>
          <div class="flex justify-center items-center">
            @if (asistencias_personale.estandar === 1) {
            <img src="icons/badge.svg" alt="" width="20" height="20" />
            }@else {
            {{ null }}
            }
          </div>
          <div class="flex justify-center items-center">
            @if (asistencias_personale.premiun === 1) {
            <img src="icons/badge.svg" alt="" width="20" height="20" />
            }@else {
            {{ null }}
            }
          </div>
        </li>
        }
      </div>
    </div>

    <div>
      <div class="flex flex-col gap-4 mt-6">
        <button
          class="btn-yellow cursor-pointer"
          (click)="scrollTo(`compraseguro`)"
        >
          COMPRA TU SEGURO
        </button>
        <a
          class="btn-bluedark flex justify-center items-center cursor-pointer gap-2"
          (click)="cobertAsPdf()"
          >DESCARGAR E-BOOK @if (isDownload) {
          <span class="svg-spinners--180-ring"></span>
          }
        </a>
      </div>
      <a #downloadebook style="display: none"></a>
    </div>
  </div>

  <div
    class="h-auto md:h-svh p-6 w-full min-w-full max-h-full flex justify-center items-center flex-col gap-4"
    id="club"
  >
    <h3 class="text-dark-blue text-[28px] text-center mb-6 md:mb-22">
      ¿Un seguro que te abre las puertas a un CLUB?
    </h3>

    <div class="flex justify-center">
      <div
        class="grid grid-cols-1 w-[900px] md:grid-cols-3 gap-6 place-items-center place-content-center"
      >
        <!-- Círculo 1 -->
        <div
          class="h-fit md:h-[280px] flex justify-center items-center flex-col"
        >
          <div
            class="border-2 border-primary rounded-full w-[208px] h-[208px] overflow-hidden flex justify-center items-center mb-4.5"
          >
            <img
              src="images/DESCUENTO.png"
              style="
                width: 66px;
                height: 67px;
                position: relative;
                left: -4px;
                top: 1px;
              "
              class="w-40 h-40 object-cover scale-200"
              alt="Perro con cono"
            />
          </div>
          <p class="text-[20px] text-dark-blue w-[176px] h-[40px] text-center">
            Descuentos y promociones
          </p>
        </div>

        <!-- Círculo 2 -->
        <div
          class="h-fit md:h-[280px] flex justify-center items-center flex-col"
        >
          <div
            class="border-primary border-2 rounded-full w-[208px] h-[208px] flex justify-center items-center overflow-hidden mb-4.5"
          >
            <img
              src="images/moneda.png"
              class="w-40 h-40 scale-150 object-contain"
              alt="Descuentos"
              style="
                position: relative;
                left: 19px;
                top: 64px;
                width: 122px;
                height: 110px;
                transform: translate(0px, -32px);
                transition: none;
                cursor: move;
              "
            />
            <p class="text-dark-blue text-[20px]"></p>
          </div>
          <p class="text-[20px] text-dark-blue w-[150px] h-fit text-center">
            Precios especiales
          </p>
        </div>
        <!-- Círculo 3 -->
        <div
          class="h-fit md:h-[280px] flex justify-center items-center flex-col"
        >
          <div
            class="border-primary border-2 rounded-full w-[208px] h-[208px] flex justify-center items-center overflow-hidden mb-4.5"
          >
            <img
              src="images/PERRO-GLOBOS.png"
              class="w-40 h-40 object-contain scale-150"
              alt="Perro globo"
              style="
                width: 200px;
                height: 172px;
                position: relative;
                left: -1px;
                top: -54px;
                transition: none;
                cursor: move;
              "
            />
          </div>
          <p class="text-[20px] text-dark-blue w-[176px] h-[48px] text-center">
            Experiencias únicas
          </p>
        </div>
      </div>
    </div>

    <p class="p-opacity w-auto md:w-[944px] h-[44px] md:mt-16">
      Con Seguro Peludo tienes acceso a un club de beneficios digitales en
      diferentes establecimientos del país; mejor dicho, beneficios que vas a
      poder convertir en experiencias únicas e inolvidables.
    </p>
    <div class="mt-12">
      <button
        class="btn-yellow mt-10 cursor-pointer"
        (click)="scrollTo(`compraseguro`)"
      >
        COMPRA TU SEGURO
      </button>
    </div>
  </div>

  <div
    id="compraseguro"
    class="bg-primary md:min-h-svh h-fit p-4 md:p-12 flex justify-center flex-col items-center relative"
  >
    <img src="images/logo_SEGUROPULUDO_blanco.png" alt="" />
    <h3 class="mb-12 text-[24px] text-center text-dark-blue">
      ¡Estás a un paso de asegurar a tu bolita de pelos!
    </h3>

    <div>
      <form
        (submit)="validarDataFormulario()"
        [formGroup]="form"
        class="flex flex-col gap-3 z-30 md:w-[560px] justify-center items-center"
      >
        <div
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`name`] === true,
          }"
          class="bg-white flex flex-col z-30 md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label for="name" class="text-primary text-xs font-light"
            >Nombre peludo</label
          >
          <input
            id="name"
            [type]="`text`"
            formControlName="name"
            class="outline-none text-dark-blue"
          />
        </div>

        <!-- Section de grillas de el tipo de perro y el genero -->

        <div class="grid w-full grid-cols-2 gap-2 mb-2.5 z-40">
          <!-- PERRO -->
          <input
            type="radio"
            name="type_pet"
            id="perro"
            value="1"
            hidden
            formControlName="type_pet"
          />
          <label
            for="perro"
            class="bg-white gap-3 border-b-4 text-dark-blue border-[#b2d9e0] rounded-md h-[56px] flex justify-center items-center cursor-pointer"
          >
            <img src="images/ICONO PERRO.svg" alt="Icon perrooo" />PERRO
          </label>

          <!-- GATO -->
          <input
            type="radio"
            name="type_pet"
            id="gato"
            value="2"
            hidden
            formControlName="type_pet"
          />
          <label
            [ngClass]="{
            `border-b-4 border-red-500` : camposInvalidos[`type_pet`] === true,
            
            }"
            for="gato"
            class="bg-white gap-3 border-b-4 text-dark-blue border-[#b2d9e0] rounded-md h-[56px] flex justify-center items-center cursor-pointer"
          >
            <img src="images/Grupo 37872.svg" alt="Icon gatooo" />GATO
          </label>

          <!-- MACHO -->
          <input
            type="radio"
            name="gender"
            id="macho"
            value="14"
            hidden
            formControlName="gender"
          />
          <label
            [ngClass]="{
            `border-b-4 border-red-500` : camposInvalidos[`genero_peludito`] === true,
            }"
            for="macho"
            class="bg-white gap-3 border-b-4 text-dark-blue border-[#b2d9e0] rounded-md h-[56px] flex justify-center items-center cursor-pointer"
          >
            <img src="icons/gen-macho.svg" width="20px" height="20px" alt="" />
            MACHO
          </label>

          <!-- HEMBRA -->
          <input
            type="radio"
            name="gender"
            id="hembra"
            value="15"
            hidden
            formControlName="gender"
          />
          <label
            [ngClass]="{
            `border-b-4 border-red-500` : camposInvalidos[`genero_peludito`] === true,
          }"
            for="hembra"
            class="bg-white gap-3 border-b-4 text-dark-blue border-[#b2d9e0] rounded-md h-[56px] flex justify-center items-center cursor-pointer"
          >
            <img src="icons/gen-hembra.svg" width="20px" height="20px" alt="" />
            HEMBRA
          </label>
        </div>

        <div
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`age`] === true,
          }"
          class="bg-white flex flex-col z-30 md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label class="text-primary text-xs font-light">Edad</label>
          <input
            type="number"
            formControlName="age"
            class="outline-none text-dark-blue"
          />
        </div>

        <div
          (click)="onFocusTypeAge()"
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`type_age`] === true,
          }"
          class="bg-white flex flex-col z-40 relative md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label class="text-primary text-xs font-light"
            >Mes(es) / Año(s)</label
          >
          <div>
            <input
              type="text"
              [value]="this.nameTypeAge"
              title="type_age"
              disabled
            />
            <input
              type="text"
              name="type_age"
              formControlName="type_age"
              hidden
            />
          </div>
          <div
            class="absolute z-[99] bg-white rounded-md duration-500 fade w-full max-h-[360px] max-w-lg overflow-y-scroll text-slate-500 font-light shadow-2xl flex flex-col"
            [ngClass]="{
            `hidden` : isCloseTypeEdadPets === true,
            `block` : isCloseTypeEdadPets === false,
            }"
          >
            @for (type_age of typeEdadResponse; track $index) {
            <div
              class="pl-2 hover:text-zinc-800 p-2 hover:bg-zinc-100"
              (click)="actualizarTypeEdad(type_age.value, type_age.name)"
            >
              {{ type_age.name }}
            </div>
            }
          </div>
        </div>

        <!-- RAZA SELECT -->

        <div
          [ngClass]="{
          `border-red-400 border ` : camposInvalidos[`race`] === true,
        }"
          class="bg-white relative cursor-pointer flex flex-col z-30 md:w-[560px] w-full py-2 h-[56px] px-4 rounded-md focus:ring-1 ring-amber-400"
          (click)="onFocus()"
        >
          <label for="race" class="text-primary text-xs font-light"
            >Raza peludito
          </label>
          <div class="flex justify-between w-full h-full items-center-safe">
            <input
              class="w-full text-dark-blue"
              type="text"
              [value]="nameRaceSelected"
              title="selectedname"
            />
            <input class="w-full" type="text" hidden formControlName="race" />
            <img src="icons/angle-top.svg" width="15" height="15" alt="" />
          </div>
          <app-select-custom
            [data]="form.get(`type_pet`)?.value == 1 ? racesPeTs[0].dog_races  : racesPeTs[0].cat_races "
            [isLoading]="isLoadingRacesPets"
            [isClose]="isCloseRacePets"
            (seleccionadoId)="actualizarRaza($event)"
            classSelect="bg-red-300"
          />
        </div>

        <!-- Informacion  del tomador -->

        <h3 class="text-dark-blue text-[20px] font-bold">
          Informacion tomador
        </h3>
        <div
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`first_name`] === true,
          }"
          class="bg-white flex flex-col md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label for="first_name" class="text-primary text-xs font-light"
            >Primer Nombre</label
          >
          <input
            id="first_name"
            type="text"
            formControlName="first_name"
            class="outline-none text-dark-blue"
          />
        </div>
        <div
          [ngClass]="{
          `border-red-400 border ` : camposInvalidos[`middle_name`] === true,
        }"
          class="bg-white flex flex-col md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label
            for="tomador_segundo_nombre"
            class="text-primary text-xs font-light"
            >Segundo Nombre</label
          >
          <input
            id="tomador_segundo_nombre"
            type="text"
            formControlName="middle_name"
            class="outline-none text-dark-blue"
          />
        </div>
        <divs
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`last_name`] === true,
          }"
          class="bg-white flex relative flex-col md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label for="" class="text-primary text-xs font-light"
            >Primer apellido</label
          >
          <input
            [type]="`text`"
            formControlName="last_name"
            class="outline-none text-dark-blue"
          />
        </divs>
        <div
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`second_surname`] === true,
          }"
          class="bg-white flex flex-col md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label for="" class="text-primary text-xs font-light"
            >Segundo apellido</label
          >
          <input
            [type]="`text`"
            formControlName="second_surname"
            class="outline-none text-dark-blue"
          />
        </div>

        <div
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`type_document`] === true,
          }"
          (click)="onFocusGetDocument()"
          class="bg-white flex flex-col md:w-[560px] cursor-pointer w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label class="text-primary text-xs font-light">Tipo documento</label>

          <input
            class="w-full text-dark-blue"
            type="text"
            [value]="nameDocumentSelected"
            disabled
          />
          <input
            class="w-full"
            type="text"
            hidden
            formControlName="type_document"
          />
          <home-select-document
            [isClose]="isCloseTypeDocument"
            (seleccionado)="actualizarTypeDocument($event)"
          />
        </div>
        <div
          [ngClass]="{
          `border-red-400 border ` : camposInvalidos[`document`] === true,
        }"
          class="bg-white flex flex-col z-30 md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label for="num_documento" class="text-primary text-xs font-light"
            >Numero de documento</label
          >
          <input
            id="num_documento"
            type="number"
            formControlName="document"
            class="outline-none text-dark-blue"
          />
        </div>
        <div
          [ngClass]="{
            `border-red-400 border ` : camposInvalidos[`email`] === true,
          }"
          class="bg-white flex flex-col z-30 md:w-[560px] w-full h-[56px] py-2 px-4 rounded-md"
        >
          <label for="email" class="text-primary text-xs font-light"
            >Correo electronico</label
          >
          <input
            id="email"
            type="email"
            formControlName="email"
            class="outline-none text-dark-blue disabled:bg-second-primary"
          />
        </div>
        <!-- Checkbox: COMUNICACIONES -->
        <div class="p-2">
          <label class="flex items-start space-x-3 cursor-pointer text-white">
            <input
              type="checkbox"
              class="peer hidden"
              formControlName="comunications"
            />
            <div
              class="w-6 h-6 mt-1 flex items-center rounded-full justify-center p-1 border transition-colors"
              [ngClass]="{
                'border-white': !camposInvalidos['comunications'],
                'border-red-500': camposInvalidos['comunications'] === true,
                'bg-white': form.get('comunications')?.value
              }"
            >
              <svg
                *ngIf="form.get('comunications')?.value"
                class="w-6 h-6 text-primary"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <p class="text-sm leading-snug">
              Acepto recibir comunicaciones comerciales y publicitarias
              personalizadas a través de los canales autorizados por Seguros
              Mundial.
            </p>
          </label>
        </div>

        <!-- Checkbox: TÉRMINOS -->
        <div class="p-2">
          <label class="flex items-start space-x-3 cursor-pointer text-white">
            <input
              type="checkbox"
              class="peer hidden"
              formControlName="auth_terminos"
            />
            <div
              class="w-6 h-6 mt-1 flex items-center justify-center border transition-colors p-1 rounded-full"
              [ngClass]="{
                'border-white': !camposInvalidos['auth_terminos'],
                'border-red-500': camposInvalidos['auth_terminos'] === true,
                'bg-white': form.get('auth_terminos')?.value
              }"
            >
              <svg
                *ngIf="form.get('auth_terminos')?.value"
                class="w-6 h-6 text-primary"
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </div>
            <p class="text-sm leading-snug">
              Autorizo el tratamiento de mis datos y acepto la Política de
              Tratamiento de Datos Personales, así como los Términos y
              condiciones.
            </p>
          </label>
        </div>

        <input
          [disabled]="isSendingData"
          type="submit"
          value="COMPRAR TU SEGURO"
          class="btn-yellow my-5"
        />
      </form>
    </div>
  </div>

  <app-footer />
</div>
