<div class="bg-white w-[592px] min-h-[544px] rounded-4xl overflow-hidden z-40">
  <div
    class="shadow-xl m-4 shadow-[#d7e3f3] rounded-2xl h-[544px] p-3 gap-3 flex flex-col"
  >
    <div
      class="bg-yellow/70 animate-pulse rounded-full shadow h-[48px] text-dark-blue flex justify-between items-center p-3 gap-3"
    >
      <div>
    </div>
</div>
        <div class="bg-second-primary grid grid-cols-2 h-[64px] rounded-[14px] overflow-hidden p-3 animate-pulse" ></div>
        <div class="bg-second-primary grid grid-cols-2 h-[64px] rounded-[14px] overflow-hidden p-3 animate-pulse" ></div>
        <ul class="list-none divide-y flex flex-col divide-dashed divide-[#dbf2f9] w-full gap-3">
            @for (paquetes of arrayPack; track $index) {
            <li class="flex justify-between text-dark-blue text-xs py-1.5 h-8 bg-second-primary animate-pulse rounded-full">
                 
            </li>
            }
          </ul>
          <div class="bg-second-primary grid grid-cols-2 h-[64px] rounded-[14px] overflow-hidden p-3 animate-pulse" ></div>
          <div class="justify-center flex items-center-safe flex-col gap-4">
            <button  class="button-border-primary-custom" title="No se rick">
              <span class="w-1/4 animate-pulse bg-second-primary h-6 rounded-full"></span>
            </button>
            <button  class="button-border-primary-custom" title="No se rick">
              <span class="w-1/4 animate-pulse bg-second-primary h-6 rounded-full"></span>
            </button>
            
          </div>

  </div>
</div>
