<div
  class="bg-dark-blue w-full h-lg justify-center text-md items-center text-white p-12 text-xs md:text-sm"
>
  <div class="grid-cols-1 md:grid-cols-3 grid place-content-center mb-12">
    <!-- Medios de pago -->
    <div class="grid place-content-center">
      <span class="mb-6">Medios de pago</span>
      <div class="grid grid-cols-3 gap-3">
        <img src="icons/visa.svg" class="w-[40px] h-[40px]" alt="Icono Visa" />
        <img
          src="icons/american.svg"
          class="w-[40px] h-[40px]"
          alt="Otro método de pago"
        />
        <img
          src="icons/mastercard.svg"
          class="w-[40px] h-[40px]"
          alt="Icono Mastercard"
        />
      </div>
    </div>

    <!-- Powered by -->
    <div class="flex flex-col items-center gap-4">
      <span class="text-center mb-3">Power by:</span>
      <img
        src="images/Grupo 37584.svg"
        width="120px"
        height="32px"
        alt="Logo Red5G 😧"
      />
      <img src="images/kushki (1).svg" width="84" height="20px" alt="" />
    </div>

    <!-- Redes sociales -->
    <div class="text-center justify-center flex flex-col items-center gap-4  text-xs md:text-sm mt-3.5">
      <p>Síguenos en redes sociales</p>
      <div class="flex flex-row gap-2">
        <a href="https://facebook.com/segurosmundial/">
          <img
            src="icons/facebook.svg"
            class="w-[32px] h-[32px]"
            alt="Icono Facebook"
          />
        </a>
        <a href="https://www.instagram.com/segurosmundial/">
          <img
            src="icons/instagram.svg"
            class="w-[32px] h-[32px]"
            alt="Icono Instagram"
          />
        </a>
        <a href="">
          <img
            src="icons/linkedin.svg"
            class="w-[32px] h-[32px]"
            alt="Icono LinkedIn"
          />
        </a>

        <a href="https://twitter.com/SegurosMundial">
          <img
            src="icons/x.svg"
            class="w-[32px] h-[32px]"
            alt="Icono X (Twitter)"
          />
        </a>
        <a href="https://www.youtube.com/c/SegurosMundialColombia">
          <img
            src="icons/youtube.svg"
            class="w-[32px] h-[32px]"
            alt="Icono YouTube"
          />
        </a>
      </div>
    </div>
  </div>

  <!-- Sección de ayuda -->
  <div class="justify-center items-center flex flex-col gap-4 my-4">
    <p>Ayuda</p>
    <p class="text-center font-light text-xs md:text-sm">
      Para activar alguna de las asistencias de tu póliza, puedes marcar al 01
      8000 112 684 opción 1 o al #935
    </p>
    <div class="flex flex-row w-full justify-center gap-8 text-xs md:text-sm">
      <a routerLink="/contact" class="underline font-light"
        >Términos y condiciones</a
      >
      <a href="" class="underline font-light">Políticas de privacidad</a>
    </div>
    <div class="mt-10">
      <img src="images/vigilado.svg" alt="Logo de entidad de vigilancia" />
    </div>
  </div>
</div>
