<!-- <div class="w-screen h-screen grid place-content-center bg-white"> -->
  <div
    class="grid grid-rows-4 w-[920px] gap-4 divide-y bg-white divide-zinc-200 border border-zinc-200 rounded-lg overflow-hidden mt-16"
  >
    <!-- Cabecera -->
    <div class="bg-zinc-200 animate-pulse w-full h-[48px] "></div>

    <!-- Fila 1 -->
    <div class="grid grid-cols-4 bg-white h-[48px] px-4">
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
    </div>

    <!-- Fila 2 -->
    <div class="grid grid-cols-4 bg-white h-[48px] px-4">
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
    </div>

    <!-- Fila 3 -->
    <div class="grid grid-cols-4 bg-white h-[48px] px-4 rounded-b-2xl">
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
      <div class="bg-zinc-200 animate-pulse h-4 w-full my-auto rounded"></div>
    </div>
  </div>

