<app-navbar ngSkipHydration [typeActivate]="`null`" />

<section
  class="fixed w-full bottom-0 z-50 rounded-t-lg shadow-primarytwo/25 bg-white shadow p-4"
>
  <button class="btn-yellow">REGRESAR A SEGURO PELUDO</button>
</section>

<main
  class="text-dark-blue relative flex flex-col justify-center items-center fade min-h-svh w-screen"
>
  <div
    class="w-full h-[300px] bg-primary flex flex-col justify-center items-center p-4 relative mb-9"
  >
    <img
      src="images/kv_SEGUROPELUDO_baño-burbujas.png"
      alt=""
      loading="lazy"
      class="w-[223px] h-[183px] mb-3.5"
    />
    <img
      src="images/nube.png"
      alt="nubecita jodoncita"
      class="absolute left-[698px] duration-500 top-[20px] w-[125px] h-[131px]"
    />

    <img
      src="images/nube.png"
      alt="nubecita jodoncita"
      class="absolute left-[1198px] duration-500 top-[150px] w-[125px] h-[121px]"
    />

    <h2 class="text-xl font-bold text-dark text-center">
      TÉRMINOS Y CONDICIONES
    </h2>
  </div>
  <div class="w-2xl flex flex-col gap-4">
    <div class="font-light text-sm flex gap-6 flex-col">
      <div class="flex flex-row gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p class="text-pretty">
          En este portal puedes comprar tu póliza de mascotas 100% digital y
          será enviada a través del correo electrónico suministrado por el
          guardián del peludito. El correo electrónico será enviado en un máximo
          de 12 horas hábiles, una vez confirmado el pago satisfactorio por
          medio de la pasarela de pago Kushki.
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Conforme con la Ley 1581 del 2012 de protección de datos, autorizo a
          Seguros Mundial a almacenar, recolectar y gestionar mis datos
          personales para el suministro de información y educación financiera,
          ofrecimiento comercial de los productos, así como los servicios
          inherentes a la actividad aseguradora, realización de encuestas de
          satisfacción de clientes, fines estadísticos y en ciertas situaciones
          realizar la transferencia internacional de mis datos para cumplir con
          las finalidades del tratamiento. Para conocer más información sobre
          las políticas, procedimientos, derechos y obligaciones que buscan
          proteger su privacidad y condiciones, ingresa a a
          <a
            class="text-primary"
            href="https://www.segurosmundial.com.co/legal/"
            >https://www.segurosmundial.com.co/legal/</a
          >
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Nuestros planes aplican para casos de accidente, no por enfermedad.
          Tenemos cobertura solo para perros y gatos entre los 6 meses y los 12
          años de edad.
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Nuestros planes aplican para casos de accidente, no por enfermedad.
          Tenemos cobertura solo para perros y gatos entre los 6 meses y los 12
          años de edad.
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          La compañía dispondrá de los canales que considere adecuados y
          necesarios para el suministro de información contemplados en las
          finalidades antes mencionadas estos incluyen (i) correo electrónico
          (ii) mensajes de texto (iii) aplicaciones de mensajería instantánea
          (iv) llamadas telefónicas y (v) medios físicos.
        </p>
      </div>
    </div>
    <div class="font-light text-sm flex flex-col gap-6">
      <h3 class="font-bold text-primary text-[26px] ml-[20px] my-6">
        Condiciones de Suscripción Anual Automática
      </h3>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Autorizo a Seguros Mundial para que realice el cargo anual en el medio
          de pago que he utilizado para adquirir el Seguro Peludo, con la
          finalidad de asegurar a mi peludito con los beneficios del plan
          contratado.
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Declaro conocer que Seguros Mundial sólo realizará un intento de cobro
          automático haciendo uso del medio de pago que registré para adquirir
          el seguro de mi peludito. Conozco y acepto que, en caso de que la
          transacción no se pueda realizar ya sea por bloqueo o cambios de
          tarjeta de crédito, Seguros Mundial me notificará por correo
          electrónico acerca de la imposibilidad del cobro, y será mi
          responsabilidad actualizar el medio de pago. En caso de no actualizar
          los datos de mi nueva tarjeta como medio de pago autorizado, tengo
          conocimiento que los beneficios de las coberturas del Seguro Peludo no
          continuarán.
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Seguros Mundial informará de manera oportuna sobre eventuales cambios
          en la tarifa del plan contratado. Lo anterior, mediante comunicación
          vía correo electrónico y antes de que se genere el cobro respectivo.
          Anualmente, Seguros Mundial hará un cobro con el monto definido dentro
          del plan contratado para el o los peluditos. Este cobro se hará
          efectivo 5 días antes de la fecha de corte. Se entiende por fecha de
          corte el día en que el usuario adquirió el Seguro Peludo por primera
          vez.
        </p>
      </div>
      <div class="grid grid-cols-[20px_auto] gap-3">
        <div>
          <img src="icons/badge.svg" width="60px" height="60px" alt="" />
        </div>
        <p>
          Declaro conocer que podré revocar la autorización del cargo recurrente
          de mi Tarjeta de Crédito desde el botón “Cancelar Suscripción
          Automática” del correo enviado con la confirmación de la compra del
          producto.
        </p>
      </div>
    </div>
  </div>
</main>
