<div *ngIf="show" class="fixed inset-0 flex items-center justify-center bg-black/20  z-[9999] backdrop-blur-md ">
    <div class="bg-white p-6 shadow-lg text-center max-w-md mx-auto animate-scale w-72 rounded-[21px]">
        <div [innerHTML]="stringInnerHtml">
        </div>
        <img src="images/campana.png" alt=""  >
      <h2 class="text-2xl font-semibold mb-2  ">{{ title }}</h2>
      <p class="text-dark-blue mb-4 ">{{ message }}</p>
      <button (click)="closeAlert()" class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">
        OK
      </button>
    </div>
  </div>