<main class="min-h-svh h-auto bg-primary fade pb-[120px]">
  <app-navbar typeActivate="null" ngSkipHydration></app-navbar>

  <div
    class="text-dark-blue bg-white mt-14 p-12 flex flex-col justify-center border-t-[12px] border-yellow items-centerP relative"
  >
    <img
      src="images/nube-1@2x.png"
      alt="Nube 1"
      class="absolute hidden md:hidden xl:block xl:left-[1151px] 2xl:left-[1348px] top-[231px] duration-500"
    />
    <!-- Elemento posicionado absolutamente -->

    <img
      src="images/nube-1.png"
      alt="Nube 2"
      class="duration-500 xl:left-[120px] lg:hidden xl:block 2xl:left-[420px] 2xl:top-[340px] absolute hidden md:hidden"
    />
    <div
      class="p-4 rounded-full transition-all absolute top-0 left-1/2 transform -translate-y-1/2 -translate-x-1/2 border-yellow border-8 z-40 bg-white"
    >
      <img
        src="icons/shield-cat.svg"
        width="32"
        height="32"
        alt="Logo gato -- persistente"
      />
    </div>

    <h3 class="title mt-6">Cotización</h3>
    <p class="font-light text-center text-pretty">
      Elige el plan que se adapta a las necesidades de tu peludito
    </p>
  </div>


  <div class="w-full h-full relative">
    <div
      class="w-full bg-inherit py-4 grid place-content-center-safe relative text-dark-blue font-extrabold"
    >
      @if (isLoading) {
      <app-loading-table />
      }@else { @if (dataFinal.data) { @for (item of dataFinal.data; track
      $index) {
      <div
        class="flex divide-y-1 relative divide-primary flex-col stick top-16"
        id="container-table"
        (click)="handleCLickSelectedPlanMouse($event)"
      >
        <!-- Esto es el selected element plan -->
        <div
          class="border-yellow absolute border-4 inset-0 w-[200px] transition-all duration-300 h-full z-0 rounded-md"
          id="selected"
          [ngClass]="{
            `left-[521px]` : isEstandar,
            `left-[720px]` : isEstandar === false
          }"
        >
          <div
            class="rounded-full transition-all absolute top-0 left-1/2 transform -translate-y-1/2 -translate-x-1/2 border-yellow border-3 z-40 p-1 bg-yellow"
          >
            <img
              src="icons/paw-pet.svg"
              width="12"
              height="12"
              alt=""
              class="text-dark-blue z-30 bg-yellow"
            />
          </div>
        </div>
        <div
          class="grid top-24 grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] rounded-t-md text-sm h-[48px] w-[920px]"
        >
          @for (item of item.plans; track $index) {
          <div
            class="bg-[#e1e6e6] rounded-tl-md px-3 w-full h-full flex justify-start items-center text-md"
          >
            {{ item.value_name }}
          </div>
          @for (item of item.cols; track $index) {
          <div
            [ngClass]="{
             ` bg-cyan-200`: isEstandar && $index === 0 ,
             `bg-[#ffdd5f]  border-r-red-400 ` : !isEstandar && $index === 1,
             `rounded-none` : $index === 0,
             `rounded-tr-2xl` : $index === 1
            }"
            class="flex justify-center items-center w-full bg-[#e6dfdf] h-full text-md text-dark-blue"
            [id]="$index"
          >
            {{ item.name }}
          </div>
          } }
        </div>

        <div
          class="grid grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] text-sm h-[48px] w-[920px] bg-white place-content-center"
        >
          <div class="ml-3">
            {{ item.annual_value[0].value_name }}
          </div>
          @for (item of item.annual_value[0].cols; track $index) {
          <div class="flex justify-center items-center" [id]="$index">
            {{ item.value }}
          </div>
          }
        </div>

        @for (columns of item.coverages_and_assistances; track $index) {

        <!-- Manejadores de los wrappers o tables -->

        <div
          class="w-full bg-[#8ddeee] p-2 cursor-pointer flex justify-between items-center"
          (click)="openTable(columns.text)"
          [id]="$index"
        >
          <span>
            {{ columns.text }}
          </span>
          <span>
            <img src="icons/angle-down.svg" width="20" height="20" alt="" />
          </span>
        </div>

        <!-- Aqui esta como tal donde se encuentran los wrapper o tables -->

        <div
          class="bg-white text-dark-blue font-light w-full overflow-hidden max-h-0 list-none flex-col flex transition-all duration-500 ease-in-out"
          [id]="columns.text"
        >
          @for (value of columns.rows; track $index) {
          <div
            [id]="$index"
            class="grid top-24 grid-cols-3 sm:grid-cols-[1fr_120px_120px] md:grid-cols-[1fr_200px_200px] rounded-t-md text-sm w-[920px] py-2"
            [ngClass]="{
                          `is-impar` : $index % 2 === 0,
                          `not-impar` : $index % 2 !== 0,
                        }"
          >
            <div
              class="flex justify-start items-center ml-4 text-xs md:text-sm"
            >
              {{ value.text }}
            </div>
            @for (colsType of value.cols; track $index) {
            <div
              [id]="$index"
              class="flex justify-center flex-col items-center max-h-fit h-[68px]"
            >
              <span class="font-bold text-balance text-center">{{
                colsType.insured_value
              }}</span>
              <span class="text-xs">{{ colsType.year_event }}</span>
            </div>
            }
          </div>
          }
        </div>
        }
      </div>

      } } }
    </div>
  </div>

  <div class="w-full justify-center items-center flex mt-20">
    <button
      class="underline cursor-pointer text-dark-blue uppercase flex justify-center items-center gap-2"
      [ngClass]="{
    `opacity-30` : isDownload
    }"
      (click)="downloadPdf()"
    >
      <img
        src="icons/book.svg"
        class="w-[20px] h-[20px]"
        alt="Imagen de libro"
      />
      <span>DESCARGAR E-BOOK</span>
    </button>
    <a style="display: none" #anchor></a>
  </div>
  <!-- botton section -->
</main>
<div class="flex bg-primary lg:justify-between  justify-center w-full bottom-0 sticky">
  <div class="bg-white p-4 rounded-br-full rounded-tr-full w-[208px] h-[80px]">
    <button
      routerLink="/"
      class="border-2 rounded-full border-primary w-[176px] h-[48px]"
      (click)="handleCLickBack()"
    >
      ATRAS
    </button>
  </div>
  <div
    class="shadow-md shadow-cyan-300 hidden-frame bg-white rounded-t-3xl flex flex-row w-[642px] h-[92px]"
  >
    <div class="grid w-full grid-cols-2 bg-[#f5fcff] rounded-full ">
      <div class="p-4 flex justify-center flex-col items-center">
        <p class="text-primary text-xs">Plan seleccionado</p>
        <h3 class="text-dark-blue">
          {{ isEstandar ? "Estándar" : "Premium" }}
        </h3>
      </div>
      <div class="p-4 flex justify-center flex-col items-center">
        <p class="text-primary text-xs">Suscripcion anual</p>
        <h3 class="text-dark-blue">
          {{ dataFinal.data[0].annual_value[0].cols[isEstandar ? 0 : 1].value }}
        </h3>
      </div>
    </div>
  </div>
  <div class="bg-white p-4 rounded-bl-full rounded-tl-full w-[208px] h-[80px]">
    <button
      class="btn-yellow-two w-[176px] h-[48px]"
      (click)="redirectToNext()"
    >
      SIGUIENTE
    </button>
  </div>
</div>
