<main class="w-full min-h-svh bg-white ">
  <app-navbar typeActivate="null" ngSkipHydration></app-navbar>
  <div class="bg-primary w-full h-14 mt-18"></div>
  <div
    class="text-dark-blue bg-white md:p-12 p-3 flex flex-col justify-center border-t-[12px] border-yellow items-center relative"
  >
    <img
      src="images/nube-1@2x.png"
      alt="Nube 1"
      class="absolute hidden md:hidden xl:block xl:left-[1151px] 2xl:left-[1348px] top-[231px] duration-500 -z-20"
    />
    <!-- Elemento posicionado absolutamente -->

    <img
      src="images/nube-1.png"
      alt="Nube 2"
      class="duration-500 -z-20 xl:left-[120px] lg:hidden xl:block 2xl:left-[420px] 2xl:top-[340px] absolute hidden md:hidden"
    />
  <!-- El borde esta aqui -->

    
    <app-border-top Path="icons" NameFile="dog-log.svg" />

    <h3 class="title mt-6">Paquetes de asistencias opcionales</h3>
    <p class=" text-center text-pretty text-sm my-6 font-medium">
      ¡Elige más opciones para proteger y cuidar de tu peludito!
    </p>
    <div class="w-full flex justify-center items-center flex-col gap-3">
      @if (isLoading) { @for (item of numerosArrayGenerator; track $index) {
      <div class="text-dark-blue">
        <app-card-skeleton />
      </div>
      } }@else { @for (asistencias of DataResponseAsistencias.data ; track
      $index) {
      <app-card [asistencias]="asistencias" [paquetesSeleccionados]="paquetesSeleccionados" [$index]="$index" [saldoFinalPrueba]="saldoFinalPrueba" />
      } }
    </div>
  </div>
</main>

<div class="flex  w-full bottom-0 sticky ">
  <div class="bg-white p-4 md shadow-zinc-200 shadow-xl rounded-br-full rounded-tr-full w-[208px] h-[80px]">
    <button
      routerLink="/"
      class="border-2 rounded-full  border-primary w-[176px] h-[48px] "
    >
      ATRAS
    </button>
  </div>
  <div
    class=" shadow-zinc-200 shadow-xl hidden-frame rounded-t-3xl  flex flex-row w-[642px] h-[92px]"
  >
    <div class="grid w-full bg-[#f5fcff] rounded-full place-content-center ">
      <div class="p-4 flex justify-center flex-col items-center">
        <p class="text-primary text-xs">Total paquetes seleccionados</p>
        <h3 class="text-dark-blue">{{ saldoFinalPrueba | currency }}</h3>
      </div>
    </div>
  </div>
  <div class="bg-white p-4 rounded-bl-full shadow-zinc-200 shadow-xl rounded-tl-full w-[208px] h-[80px]">
    <button class="btn-yellow-two w-[176px] h-[48px]" (click)="redirectoNextRoute()">SIGUIENTE</button>
  </div>
</div>
