<main class="w-full min-h-svh bg-white ">
  <app-navbar typeActivate="null" ngSkipHydration></app-navbar>
  <div class="bg-primary w-full h-14"></div>
  <div
    class="text-dark-blue bg-white  p-12 flex flex-col justify-center border-t-[12px] border-yellow items-center relative"
  >
    <img
      src="images/nube-1@2x.png"
      alt="Nube 1"
      class="absolute hidden md:hidden xl:block xl:left-[1151px] 2xl:left-[1348px] top-[231px] duration-500"
    />
    <!-- Elemento posicionado absolutamente -->

    <img
      src="images/nube-1.png"
      alt="Nube 2"
      class="duration-500 xl:left-[120px] lg:hidden xl:block 2xl:left-[420px] 2xl:top-[340px] absolute hidden md:hidden"
    />
  <!-- El borde esta aqui -->

    <app-border-top Path="icons" NameFile="dog-log.svg" />

    <h3 class="title mt-6">Paquetes de asistencias opcionales</h3>
    <p class="font-light text-center text-pretty text-xs mb-4">
      ¡Elige más opciones para proteger y cuidar de tu peludito!
    </p>
    <div class="w-full flex justify-center items-center flex-col gap-3">
      @if (isLoading) { @for (item of numerosArrayGenerator; track $index) {
      <div class="text-dark-blue">
        <app-card-skeleton />
      </div>
      } }@else { @for (asistencias of DataResponseAsistencias.data ; track
      $index) {
      <div
        #card
        [attr.id]="asistencias.id + '_' + asistencias.name"
        data-selected="false"
        
        class="w-[560px] text-dark-blue  shadow-xl shadow-cyan/5 flex-col rounded-2xl overflow-hidden"
      >
        <div class="duration-300 transition-all" (click)="openTable(asistencias.id)" [ngClass]="{
          `incluido`: paquetesSeleccionados.includes(asistencias.id),
          `not-incluido`: !paquetesSeleccionados.includes(asistencias.id)
        }" >
          <div class="flex-row flex justify-between items-center">
            <div class="w-[33px] h-[33px] bg-[#46bccb] rounded-full grid place-content-center transition-all duration-300" [ngClass]="{
              `not-incluido-dog-card`: !paquetesSeleccionados.includes(asistencias.id) ,
              `incluido-dog-card`: paquetesSeleccionados.includes(asistencias.id) ,

            }" >
              <img  
                src="icons/dog-log.svg"
                alt="Logo Dog -- persistente"
                class="z-20 w-[20px] h-[20px]"
              />

            </div>

            <div class="text-[16px] text-center pt-1 block">
              <div>
                <span class="text-center w-full">{{ asistencias.name }}</span>
                <span> - </span>
                <span class="text-center w-full">{{
                  asistencias.value | currency
                }}</span>
              </div>
              <span class="font-light text-xs text-shadow">{{
                paquetesSeleccionados.includes(asistencias.id) ? "Incluido" : "No incluido"
              }}</span>
            </div>
            <div>
              <img src="icons/angle-down.svg" alt="" width="20" height="20" />
            </div>
          </div>
        </div>
        <!-- Wrapper aqui -->
        <div
          class="grid shadow shadow-[#eaf2ff] grid-cols-2 divide-x divide-zinc-100 max-h-0 overflow-hidden duration-700 ease-in-out transition-all"
          [id]="asistencias.id"
        >
          <!-- Columna 1 -->


          
          
          <div class="grid grid-cols-1 divide-y divide-zinc-100">
            <div class=" text-sm min-h-[52px] font-semibold px-3 flex w-full  text-white bg-[#66b9e5] justify-start items-center">
                Asistencias
            </div>
            @for (item of asistencias.assistances; track $index) {
            <div
              class=" font-light text-sm min-h-[72px] px-3 flex w-full  justify-start items-center"
              [ngClass]="{
                        `is-impar`  :  $index % 2 === 0,
                        `not-impar` : $index % 2 !== 0
                      }"
            >
              {{ item.assistance_name }}
            </div>
            }
          </div>
          <!-- Columna2 -->
          <div class="grid grid-cols-1 divide-y divide-zinc-100">
            <div class=" font-semibold text-sm min-h-[52px] px-3 flex w-full  text-white bg-[#66b9e5] justify-start items-center">
              Descripción
          </div>


            @for (items of asistencias.assistances; track $index;  ) {
            <div>
              @for (item of items.description; track $index; let indexOne = $index   ) {
              <div
                class="flex flex-col justify-center items-center p-2.5 font-light text-sm h-[72px] "
                [ngClass]="{
                              `not-impar`  : $index % 2 === 0,
                              `bg-red-300`: $index % 2 !== 0
                            }"
              >
                <span class="font-bold">{{ item.insured_value }}</span>
                <span class="text-xs">{{ item.year_event }}</span>
                
              </div>
              }
            </div>
            }
          </div>
        </div>
        <!-- Fin wrapper -->


        @if (!paquetesSeleccionados.includes(asistencias.id)) {
          <div class="bg-white h-[72px] grid place-content-center-safe">
            <button
              class="border flex font-bold items-center p-1 text-md justify-center border-primary rounded-full h-[48px] w-[272px] text-[14px] text-dark-blue cursor-pointer"
              (click)="totalPaquetesSeleccionados(asistencias.value ,$index, asistencias.id)"
              
            >
              !LO QUIERO!
            </button>
          </div>
        }@else {
          <div class="bg-white h-[72px] flex justify-start items-center p-4 font-light gap-3 text-sm">
            <img src="icons/cruz.svg" class="w-[20px] h-[24px]" alt="Cruz icon">
            <button class="underline cursor-pointer" (click)="totalPaquetesSeleccionados(asistencias.value, $index, asistencias.id)">Ya no lo quiero</button>
          </div>
        }
        
      </div>
      } }
    </div>
  </div>
</main>

<div class="flex justify-between w-full bottom-0 sticky ">
  <div class="bg-white p-4 shadow-zinc-200 shadow-xl rounded-br-full rounded-tr-full w-[208px] h-[80px]">
    <button
      routerLink="/"
      class="border-2 rounded-full  border-primary w-[176px] h-[48px] "
    >
      ATRAS
    </button>
  </div>
  <div
    class=" shadow-zinc-200 shadow-xl hidden-frame rounded-t-3xl  flex flex-row w-[642px] h-[92px]"
  >
    <div class="grid w-full bg-[#f5fcff] rounded-full place-content-center ">
      <div class="p-4 flex justify-center flex-col items-center">
        <p class="text-primary text-xs">Total paquetes seleccionados</p>
        <h3 class="text-dark-blue">{{ saldoFinalPrueba | currency }}</h3>
      </div>
    </div>
  </div>
  <div class="bg-white p-4 rounded-bl-full shadow-zinc-200 shadow-xl rounded-tl-full w-[208px] h-[80px]">
    <button class="btn-yellow-two w-[176px] h-[48px]" (click)="redirectoNextRoute()">SIGUIENTE</button>
  </div>
</div>
